@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
    background: url(../img/wallpaper.jpeg) no-repeat center center fixed;
    background-size: cover;

    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
}

.group {
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 15px;
    color: white;
}

.app {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;

    padding: 12px 24px 12px 24px;
    margin: 12px;

    width: 350px;

    text-decoration: none;
    background: rgba(24, 28, 58, 0.75);
    color: white;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;

    text-align: left;
    font-size: 12px;
    font-weight: 100;

    border-radius: 12px;
}

.app:hover {
    transform: translateY(-2px);
    background: rgba(31, 35, 71, 0.75);
}

.app-img {
    height: 48px;
}

.button-add {
    position: fixed;
    right: 5%;
    bottom: 12%;
    width: 100%;

    width: 50px;
    height: 50px;

    font-size: 40px;

    border: none;
    border-radius: 100%;

    background: white;
    color: #181C3A;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
}

.button-add:hover {
    transform: translateY(-2px);
    
    cursor: pointer;
}

.add-input {
    background: transparent;
    border: none;

    color: white;

    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.add-input:focus {
    outline: none;
}

.add-button {
    padding: 12px 24px 12px 24px;
    margin: 12px;

    width: 400px;
    height: 50px;

    background: rgba(80, 172, 92, 0.75);
    color: white;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;

    font-size: 20px;
    font-weight: 100;

    border-radius: 12px;
    border: none;
}

.add-button:hover {
    transform: translateY(-2px);
    
    cursor: pointer;
}

.alert {
    padding: 2px 24px 2px 24px;
    margin: 12px;

    background: rgba(221, 0, 4, 0.75);

    color: white;

    border: none;
    border-radius: 12px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    padding: 2px;
    
    text-align: center;

    background: #181C3A;
    color: #eaeaea;
}

@media (min-width: 651px) {
    .group-apps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .group {
        justify-content: center;
        align-items: center;
        text-align: center;
    
        font-size: 15px;
        color: white;
    }
    
    .app {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 12px;
    
        padding: 12px 24px 12px 24px;
        margin: 12px;
    
        width: auto;
    
        text-decoration: none;
        background: rgba(0, 0, 0, 0.5);
        color: white;
    
        text-align: left;
        font-size: 12px;
        font-weight: 100;
    
        border-radius: 12px;
    }

    .add-button {
        width: auto;
    }
  }