<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
    <script src="{{url_for('static', filename='js/alert.js')}}"></script>

    <title>Homelium</title>
</head>
<body>

    {% block content %} {% endblock %}

    <footer>
        <a href="https://github.com/MarcOrfilaCarreras/Homelium" title="git source">Created with ❤️ by Marc Orfila Carreras</a><br/>
        <a href="https://www.flaticon.com/free-icon/hot-air-balloon_6744194" title="hot air balloon icons">Favicons created by surang - Flaticon</a>
    </footer>
    
</body>
</html>