<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    
    <title>Homelium</title>
</head>
<body>

    <div class="group">
        {% for group in links_dict %}
            <h1>{{ group['name'] }}</h1>

            <div class="group-apps">
                {% for app in group["apps"] %}
                    <a class="app" href="{{ app['url'] }}" target="_blank">
                        <img src="{{ app['image'] }}" class="app-img"/>
                        <h2>{{ app['name'] }}</h2>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
</body>
</html>